@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-Bold-WebS.eot');
    src: url('EuclidCircularA-Bold-WebS.eot?#iefix') format('embedded-opentype'), url('EuclidCircularA-Bold-WebS.woff2') format('woff2'), url('EuclidCircularA-Bold-WebS.woff') format('woff'), url('EuclidCircularA-Bold-WebS.ttf') format('truetype'), url('EuclidCircularA-Bold-WebS.svg#Font') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-BoldItalic-WebS.eot');
    src: url('EuclidCircularA-BoldItalic-WebS.eot?#iefix') format('embedded-opentype'), url('EuclidCircularA-BoldItalic-WebS.woff2') format('woff2'), url('EuclidCircularA-BoldItalic-WebS.woff') format('woff'), url('EuclidCircularA-BoldItalic-WebS.ttf') format('truetype'), url('EuclidCircularA-BoldItalic-WebS.svg#Font') format('svg');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-Light-WebS.eot');
    src: url('EuclidCircularA-Light-WebS.eot?#iefix') format('embedded-opentype'), url('EuclidCircularA-Light-WebS.woff2') format('woff2'), url('EuclidCircularA-Light-WebS.woff') format('woff'), url('EuclidCircularA-Light-WebS.ttf') format('truetype'), url('EuclidCircularA-Light-WebS.svg#Font') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-LightItalic-WebS.eot');
    src: url('EuclidCircularA-LightItalic-WebS.eot?#iefix') format('embedded-opentype'), url('EuclidCircularA-LightItalic-WebS.woff2') format('woff2'), url('EuclidCircularA-LightItalic-WebS.woff') format('woff'), url('EuclidCircularA-LightItalic-WebS.ttf') format('truetype'), url('EuclidCircularA-Light-WebS.svg#Font') format('svg');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-Regular-WebS.eot');
    src: url('EuclidCircularA-Regular-WebS.eot?#iefix') format('embedded-opentype'), url('EuclidCircularA-Regular-WebS.woff2') format('woff2'), url('EuclidCircularA-Regular-WebS.woff') format('woff'), url('EuclidCircularA-Regular-WebS.ttf') format('truetype'), url('EuclidCircularA-Regular-WebS.svg#Font') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-RegularItalic-WebS.eot');
    src: url('EuclidCircularA-RegularItalic-WebS.eot?#iefix') format('embedded-opentype'), url('EuclidCircularA-RegularItalic-WebS.woff2') format('woff2'), url('EuclidCircularA-RegularItalic-WebS.woff') format('woff'), url('EuclidCircularA-RegularItalic-WebS.ttf') format('truetype'), url('EuclidCircularA-RegularItalic-WebS.svg#Font') format('svg');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-Regular-WebS.svg');
    src: url('EuclidCircularA-Regular-WebS.eot?#iefix') format('embedded-opentype'), url('EuclidCircularA-Regular-WebS.woff2') format('woff2'), url('EuclidCircularA-Regular-WebS.woff') format('woff'), url('EuclidCircularA-Regular-WebS.ttf') format('truetype'), url('EuclidCircularA-Regular-WebS.svg#Font') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-Medium-WebS.eot');
    src: url('EuclidCircularA-Medium-WebS.eot?#iefix') format('embedded-opentype'), url('EuclidCircularA-Medium-WebS.woff2') format('woff2'), url('EuclidCircularA-Medium-WebS.woff') format('woff'), url('EuclidCircularA-Medium-WebS.ttf') format('truetype'), url('EuclidCircularA-Medium-WebS.svg#Font') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-MediumItalic-WebS.eot');
    src: url('EuclidCircularA-MediumItalic-WebS.eot?#iefix') format('embedded-opentype'), url('EuclidCircularA-MediumItalic-WebS.woff2') format('woff2'), url('EuclidCircularA-MediumItalic-WebS.woff') format('woff'), url('EuclidCircularA-MediumItalic-WebS.ttf') format('truetype'), url('EuclidCircularA-MediumItalic-WebS.svg#Font') format('svg');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-Semibold-WebS.eot');
    src: url('EuclidCircularA-Semibold-WebS.eot?#iefix') format('embedded-opentype'), url('EuclidCircularA-Semibold-WebS.woff2') format('woff2'), url('EuclidCircularA-Semibold-WebS.woff') format('woff'), url('EuclidCircularA-Semibold-WebS.ttf') format('truetype'), url('EuclidCircularA-Semibold-WebS.svg#Font') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Euclid Circular A';
    src: url('EuclidCircularA-SemiboldItalic-WebS.eot');
    src: url('EuclidCircularA-SemiboldItalic-WebS.eot?#iefix') format('embedded-opentype'), url('EuclidCircularA-SemiboldItalic-WebS.woff2') format('woff2'), url('EuclidCircularA-SemiboldItalic-WebS.woff') format('woff'), url('EuclidCircularA-SemiboldItalic-WebS.ttf') format('truetype'), url('EuclidCircularA-SemiboldItalic-WebS.svg#Font') format('svg');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Homemade Apple';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/homemadeapple/v11/Qw3EZQFXECDrI2q789EKQZJob0x6XHgOiJM6.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
