name: black-action
on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: psf/black@stable
        with:
          options: "--check --verbose"
          version: 22.3.0
